@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-light-bg text-light-text dark:bg-dark-bg dark:text-dark-text font-mono antialiased;
}

::selection {
  @apply bg-terminal-green text-dark-bg;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
